Password:
    <div class="panel panel-default">
        <div class="panel-heading">@Title</div>
        <div class="panel-body">@ChildContent</div>

        <p>Year: @Year</p>

        <button class="btn btn-primary" @onclick="OnClick">
            Trigger a Parent component method
        </button>
        <button class="btn btn-primary" @onclick="azaz">
            azaz
        </button>
    </div>

@code {
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> OnClick { get; set; }

    public void azaz(MouseEventArgs e)
    {
        YearChanged.InvokeAsync(Year+1);
        //Year++;
    }

    [Parameter]
    public int Year { get; set; }

    [Parameter]
    public EventCallback<int> YearChanged { get; set; }
    [Parameter]
    public EventCallback<int> YearChanged2 { get; set; }
}
