<AuthorizeView>
    <Authorized>
        <a href="/Auth/Account/Manage/">Hello, @context.User.Identity.Name!</a>
        <a class="ml-md-auto btn btn-primary"
           href="/Auth/Account/logOut?returnUrl=/"
           target="_top">Logout</a>
    </Authorized>
    <NotAuthorized>
        <form action="/Auth/Account/LoginFast" method="post" class="form-inline">
            <div class="form-group mb-2">
                <input type="text" class="form-control" placeholder="User Name" id="Username" name="Username" />
            </div>
            <div class="form-group mx-sm-3 mb-2">
                <input type="Password" class="form-control" placeholder="Password" id="Password" name="Password" />
            </div>
                <input type="submit" class="btn btn-primary mb-2" value="Войти"/>
        </form>
        @*<input type="text"
               placeholder="User Name"
               @bind="@Username" />
        &nbsp;&nbsp;
        <input type="password"
               placeholder="Password"
               @bind="@Password" />
        <a class="ml-md-auto btn btn-primary"
           href="/Auth/Account/loginFast?paramUsername=@Username&paramPassword=@Password"
           target="_top">Login</a>*@
    </NotAuthorized>
</AuthorizeView>
@code {
    string Username = "";
    string Password = "";
}