@inherits LayoutComponentBase
@*<app>
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <LoginDisplay />
            <a href="https://docs.microsoft.com/en-us/aspnet/" target="_blank">About</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</app>*@

<MatAppBarContainer>
    <MatAppBar Fixed="true">
        <MatAppBarRow>
            <MatAppBarSection>
                <MatIconButton Icon="menu" OnClick="@((e) => ButtonClicked())"></MatIconButton>
                <MatAppBarTitle>MatBlazor - Material Design components for Blazor</MatAppBarTitle>
            </MatAppBarSection>
            <MatAppBarSection Align="@MatAppBarSectionAlign.End">

                <LoginDisplay />

                <MatIconButton Icon="favorite"></MatIconButton>
            </MatAppBarSection>
        </MatAppBarRow>
    </MatAppBar>

    <MatAppBarContent>

        <MatDrawerContainer >
            <MatDrawer @bind-Opened="@Opened" Mode="@MatDrawerMode.Modal">
                <div class="sidebar" style="width: 100%">
                    <NavMenu @bind-SideBar="Opened"/>
                </div>
            </MatDrawer>
            <MatDrawerContent Style="padding: 5px 0px 0px 5px;">
                @Body
            </MatDrawerContent>
        </MatDrawerContainer>

    </MatAppBarContent>
</MatAppBarContainer>

@code
{
    bool Opened = false;

    void ButtonClicked()
    {
        Opened = !Opened;
    }

}