@page "/"
@namespace BlazorApp2.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using EmbeddedBlazorContent

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BlazorApp2</title>
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/font-awesome/css/all.min.css" />
    <link href="_content/Blazor.ContextMenu/blazorContextMenu.min.css" rel="stylesheet" />
    @Html.EmbeddedBlazorContent()

</head>
<body>

    @(await Html.RenderComponentAsync<App>(RenderMode.ServerPrerendered))


    <script src="_framework/blazor.server.js"></script>
    <script src="inputfile.js"></script>
    <script type="text/javascript">
        function mydownloadFile(filePath) {
            var link = document.createElement('a');
            link.href = filePath;
            link.download = filePath.substring(filePath.lastIndexOf('/') + 1, filePath.length);
            link.target = '_blank'
            link.click();

        }
    </script>
    <script src="~/font-awesome/js/all.min.js"></script>
    <script src="_content/Blazor.ContextMenu/blazorContextMenu.min.js"></script>

</body>
</html>

@functions {

}