@page "/"




<div class="main">

    <div class="my_div_1">
        <div class="my_div_2">
            <span class="my-span">azaz</span>
        </div>
        <div class="my_div_2">
            <span class="my-span">azaz V2</span>
        </div>
    </div>

</div>



@code {

}
