@page "/Index"

<style type="text/css">
    .main {
        width: 100%;
        height: 100%;
        background-color: rgb(210, 210, 210);
        position: fixed;
    }

    .my-span {
        font-family: "Comic Sans MS", cursive, sans-serif;
        font-size: 21px;
        color: #000000;
    }

    .my_div_1 {
        background-color: rgb(180, 180, 180);
        width: 200px;
        height: 200px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .my_div_2 {
        background-color: rgb(160, 160, 160);
        padding: 0px;
        margin: 0px 20px;
        display: inline;
    }
</style>


<div class="main">

    <div class="my_div_1">
        <div class="my_div_2">
            <span class="my-span">azaz</span>
        </div>
        <div class="my_div_2">
            <span class="my-span">azaz</span>
        </div>
    </div>

</div>



@code {

}
