@page "/ListFiles"
@using System.IO;
@using Amazon.S3.Model;
@inject IHostingEnvironment _env;
@inject IS3Service _is3;
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime

<AuthorizeView>
    <Authorized>
        <AmazonGrid PageSize="10" GetUserName="GetUserName" GetIsAuth="GetIsAuth" />
    </Authorized>
    <NotAuthorized>
        <h2>"Bad Guy"</h2>
    </NotAuthorized>
</AuthorizeView>


@code {
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }


    async Task<bool> GetIsAuth()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        return user.Identity.IsAuthenticated;
    }
    async Task<string> GetUserName()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        return user.Identity.Name;
    }
}
